body {
    margin: 0; /* Премахваме всякакви външни отстъпи */
    padding: 0; /* Премахваме вътрешните отстъпи */
    height: 100vh; /* Уверяваме се, че body заема цялата височина на екрана */
    background-image: url('./resources/we.jpg'); /* Твоето изображение */
    background-size: cover; /* Снимката покрива целия екран */
    background-position: center; /* Центриране на изображението */
    background-repeat: no-repeat; /* Предотвратява повторение на снимката */
  }

  
  