@font-face {
  font-family: 'Aviano';
  src: url(./fonts/Aviano\ Contrast.ttf);
  font-weight: normal;
  font-style: normal;
}


  body {
    font-family: 'Aviano', sans-serif;
    margin: 0; 
  }
  .we{
    margin: 0;
    padding: 10em; 
    height: 70vh; 
    background-image: url('./resources/we.jpg'); 
    background-size: cover; 
    background-position: top center; 
    background-repeat: no-repeat; 
  }

  header{
    margin-top: -9em;
    margin-left: -10em;
    display: flex;  
  }

.navbar {
  display: flex;
  justify-content:space-around;
  align-items:center;
  gap: 3em;
  width: 100%; 
  color: white;
}

/* Навигационен списък */
.nav-links {
  list-style: none;
  display: flex;
  gap: 3.5em; 
  margin: 0;
  padding: 0;
}

/* Стил на линковете */
.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 1.15em;
}

.nav-links li a:hover {
  text-decoration: underline;
  text-underline-offset: 0.8em;
}

.logo img {
  height: 8em;    
}
  

.home-sign{ /* Стил за буквите на сакото */
    padding-right: 4em;
    position: relative;
    top: -16em; 
    background: transparent;
    color: white;
    font-size: 1.6em;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    gap: 1.5em;
    font-weight: 900;
    letter-spacing: 0.16em;
}

  /* От тук стил about us */

.home-about-us-sign{
    height: 80vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -16em;
    padding-top: 10em;
    padding-bottom: 2em;
   
}

.home-about-us-h1{
    font-size: 2.3em;
    font-weight: 900;
    letter-spacing: 0.33em;
    margin-top: -2em;
}

.home-about-us-p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 550;
    font-size: 1.1em;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 1em;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.logo2{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7em;

}

.logo2 img {/*Цветето на about us*/
    height: 15em;  
}

/*От тук секцията wedding invitation със нашите снимки */

.wedding-invitation-section {
  display: flex;
  flex-direction: column;
  align-items: center;       
  justify-content: center; 
  height: 80vh;    
  padding: 2rem;
  background-color: rgb(255, 255, 255);
}
  .wedding-invitation{
  
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    
  }

  .wedding-invitation-title{
    font-size: 2.3em;
    font-weight: 900;
    margin-bottom: 0.5em;
  }
  .wedding-invitation-choose{
    font-size: 1.3em;
    font-weight: 300;
    margin-top: 0;
  }

  .photos-on-focus{
    width: 87%;
    height: 60vh;
    background: #000;
    padding-top: 5em;
    padding-bottom: 7em;
   
  }
  .image-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
  }

  .arrow {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
    transition: background-color 0.3s, transform 0.2s;
  }
  
  .arrow:hover {
    background-color: #f0f0f0;
    transform: scale(1.1);
  }
  
  .image-row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
  }
  
  .side-image {
    width: 380px;
  }
  
  .center-image {
    width: 280px;
    
  }
  

  .wedding-invitation-text {
    text-align: center; 
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto; 
  }
  
  .wedding-invitation-p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 0.5rem 0;
    color: white;
   
  }
  
  /*от тук започва секицята minimal and elegant*/

  .minimal-elegant-inside {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 2rem;
    gap: 1em; 
    max-width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    margin-top: 2em;
  }
  
  .minimal-elegant-text {
    flex: 1;
    text-align: left;
    max-width: 100%;
    padding: 0;
    
    margin-bottom: 15em;
    padding-left: 17em;
    padding-right: 5em;
    white-space: nowrap;
  }
  
  .minimal-h1 {
    font-size: 2.5em;
    margin-bottom: 1.8em;
    color: black;
  }
  
  .minimal-elegant-p {

    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.3em;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 1.6;
    color: black;
    letter-spacing: 0.05em;
    white-space: nowrap;
  }
  
  .minimal-elegant-card {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    margin-top: 1em;
    margin-right: 10em;
  }
  
  .card-minimal-elegant {
    transform: translateY(-5em);
  }
  
  .industrial-img {
    width: 480px;
    height: 780px;
    object-fit: cover;
  }
  



  .nature-insipire-series{
    height: 100vh; 
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px; 
    margin-bottom: 18em;
    /* margin-top: -11em; */
    
  }
  


  .nature-inspire-title {
    display: flex;
    flex-direction: column;
    align-items: center;       
    justify-content: center;   
    height: 100vh;             
    text-align: center;       
    padding: 0 1em;          
    box-sizing: border-box;
    background: rgb(105, 17, 65);
    padding-top: 7em;
    padding-bottom: 7em;
    margin-top: 5em;
  }
  
  .nature-inspire-title-h1 {
    font-size: 2.6rem;
    margin: 0.5rem 0;
    color: white;             
  }
  

  .text-with-images-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;
    padding: 2rem;
    max-width: 1400px;
    margin: 0 auto;
     margin-top: 5em;
     margin-bottom: 2em;
  }
  
  .nature-inspire-side-image-left {
    flex: 1;
    display: flex;
    justify-content: center;
    transform: rotate(-7deg);
  }

  .nature-inspire-side-image-right {
    flex: 1;
    display: flex;
    justify-content: center;
    transform: rotate(7deg);
  }
  
  .nature-inspire-img {
    width: 350px;
    min-height: 500px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .text-nature {
    flex: 2;
    text-align: center;
    color:  rgb(105, 17, 65);
    padding-left: 5em;
    padding-right: 5em;
    
  }
  
  .text-nature-h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .text-nature-p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin: 0.5rem 0;
  }
  

  


.full-screen-image {
  position: relative; 
  width: 100%;
  height: 100vh;
  
}

.full-screen-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.full-screen-textbox {
  position: absolute;
  top: 60%; 
  left: 70%;
  transform: translateX(-50%);
  width: 35em;
  height: 32em;
  background-color: rgba(105, 17, 65, 0.90); 
  padding: 2em;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  z-index: 10;

  text-align: center;
  line-height: 2; /* Минимално разстояние между редовете */
  padding: 2em;
  
}

.full-screen-textbox-h1 {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 1em;
}

.full-screen-textbox-p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
    line-height: 1;
    margin: 0.5em 0;
}



.handmade-paper {
  width: 100%;
  min-height: 100vh; /* за да не се реже, ако има повече съдържание */
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15em 1em;
  box-sizing: border-box;
  text-align: center;
}

.handmade-paper-h1 {
  color: white;
  font-size: 2em;
  font-weight: bold;
  padding-bottom: 1em;
}

.handmade-paper-p {
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  line-height: 1.4;
  margin: 0.3em 0;
}

.handmade-paper-section-img {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2em;
  gap: 1em;
}

.handmade-paper-img {
  width: 100%;
  max-width: 30%;
  height: 480px; /* Задаваш височина според дизайна */
  object-fit: cover;
  border-radius: 8px;
}


/*от тук започва контактната форма*/
.contact-form {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4em;
  margin-top: 7em;
  margin-bottom: 5em;
  
}
form{
  width: 30%;
  margin-left: 10em;
}

.contact-title {
  font-size: 1.5em;
  letter-spacing: 0.2em;
  margin-bottom: 1.5em;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 1em;
  margin-bottom: 1em;
}

.input-field {
  border: 2px solid rgba(105, 17, 65); 
  border-radius: 2em;
  padding: 0.8em 1.2em;
  font-size: 0.95em;
  outline: none;
  margin-bottom: 1em;
  color: #000;
  width: 100%;
  box-sizing: border-box;
}

.half {
  width: 48%;
}

.full {
  width: 100%;
}

.textarea {
  height: 200px;
  border-radius: 1.5em;
  resize: none;
}

.file-input {
  padding: 0.5em 1.2em;
}

.send-button {
  margin-top: 1.5em;
  padding: 0.7em 2em;
  font-size: 0.9em;
  border: 2px solid #660033;
  border-radius: 2em;
  background: white;
  cursor: pointer;
  letter-spacing: 0.1em;
}

.send-button:hover {
  background-color: #660033;
  color: white;
}

.picture-and-text-contact-imgs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5em;
  padding-left: 4em;
  margin-top: 2em;
}
.picture-and-text-img{
  width: 480px;
  max-width: 30%;
  height: 420px; 
  object-fit: cover;
  border-radius: 8px;
}

.picture-and-text-img:nth-child(2) {
  position: relative;
  top: -180px; /* колкото искаш да я изместиш нагоре */
}

  /* --------------------------- */




  

 
  @media screen and (max-width: 1800px) {
    .we {
      padding: 5em; /* Намаляваме padding за лаптопи */
    }
  
    header {
      margin-top: -4em;
      margin-left: -4em;
    }
  
    .navbar {
      gap: 1em; /* Намаляваме разстоянието между елементите */
    }
  
    .nav-links {
      gap: 2em; /* Намаляваме разстоянието между елементите в менюто */
    }

    .nav-links li a {
     
    
      
    }
  
    .logo img {
      height: 6em; /* Малко по-малка логотип */
    }

    .home-sign{
      
      position: relative;
      top: -16em; 
      background: transparent;
      color: white;
      font-size: 1.12em;
      display: flex;
      flex-direction: column;
      align-items:flex-end;
      gap: 1.5em;
      font-weight: 900;
      letter-spacing: 0.16em;
  
    }

    .home-about-us-sign{
      text-align: center;
      margin-top: -7em;
      max-width: 80%;
      margin-left: 5.5em;
    }
    .home-about-us-p {
      margin: 0;
      padding: 0;
      line-height: 1.3; /* по желание, можеш да намалиш още */
      text-align: center;
    }


    .home-about-us-text{
      text-align: center;
    }
  }